# Pages html
contact.html
contact-pro.html
projects.html
skills.html
INDEX-COMPLET.html
GUIDE-UTILISATION.html
index.purple.html

# Fichiers Markdown
RESUME-COMPLET.md
RESPONSIVE-DESIGN.md
README-CONTACT.md
DEPLOIEMENT.md
FONT-AWESOME-GUIDE.md
OPTIMISATIONS-LIGHTHOUSE.md
QUICK-START.md
RESUME-MODIFICATIONS.md


# Fichiers texte
FICHIERS.txt
STATISTIQUES.txt

# Fichiers contact professionnel
contact-pro.js
# Fichiers CSS
contact-pro.css
style-purple.css